{% extends "template.html" %}

{% block info %}
{% endblock info %}

{% block bodyContent %}
<img src="{{url_for('static', filename='images/list.png')}}" class="right-image">
<img src="{{url_for('static', filename='images/calendar.png')}}" class="right-image">
<img src="{{url_for('static', filename='images/turtle.png')}}" class="square-image">
<img src="{{url_for('static', filename='images/water child.png')}}" class="square-image">
<img src="{{url_for('static', filename='images/childrenfoodrelief.png')}}" class="square-image">
{% endblock bodyContent %}

{% block scripts %}
{% endblock scripts %}